name: CI/CD Pipeline

on:
  push:
    branches:
      - assestment3
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: demoassestment
      IMAGE_TAG: latest
      DEPLOYMENT_FILE: assestment-2.yaml
      IMAGE_REPO: sethuk24/demoassestment

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }}
